In [1]:
import pandas as pd
import pandera as pa
from pandera.typing import Series

In [2]:
train = pd.read_csv("s3://gunmlartifacts/datalake/raw_zone/train.csv")
test = pd.read_csv("s3://gunmlartifacts/datalake/raw_zone/test.csv")

In [3]:
train.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1

In [4]:
train.describe()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
count,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000
mean,21049.500000,1.920713,0.141093,0.884632,2.398005,0.239192,0.025249,0.428931,103.888029,2017.856295,7.593539,15.902945,0.728504,0.029192,0.019715,0.175772,104.566377,0.571734,0.392019
std,12153.367503,0.524950,0.450128,0.885693,1.427330,0.587674,0.156884,0.832605,81.069343,0.350795,2.829395,8.888582,0.633529,0.168347,0.325837,1.732121,37.139165,0.775041,0.488207
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10524.750000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,37.000000,2018.000000,6.000000,8.000000,0.000000,0.000000,0.000000,0.000000,80.000000,0.000000,0.000000
50%,21049.500000,2.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,93.000000,2018.000000,8.000000,16.000000,1.000000,0.000000,0.000000,0.000000,99.450000,0.000000,0.000000
75%,31574.250000,2.000000,0.000000,2.000000,3.000000,0.000000,0.000000,1.000000,155.000000,2018.000000,10.000000,24.000000,1.000000,0.000000,0.000000,0.000000,123.300000,1.000000,1.000000
max,42099.000000,4.000000,9.000000,7.000000,17.000000,3.000000,1.000000,6.000000,443.000000,2018.000000,12.000000,31.000000,4.000000,1.000000,13.000000,58.000000,540.000000,5.000000,1.000000

In [9]:
class SchemaTrain(pa.DataFrameModel):
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)

In [10]:
SchemaTrain(train)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [17]:
class SchemaTrain(pa.DataFrameModel):
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)
    @pa.check("no_of_adults")
    def check_lte_4(cls,col):
        return col<=4

In [21]:
SchemaTrain(train)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [ ]:
SchemaTrain(train.drop("id",axis=1))

In [19]:
class SchemaTrain(pa.DataFrameModel):
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)
    no_of_children: Series[int] = pa.Field(nullable=False)
    no_of_weekend_nights: Series[int] = pa.Field(nullable=False)   
    no_of_week_nights: Series[int] = pa.Field(nullable=False)
    type_of_meal_plan: Series[int] = pa.Field(nullable=False)
    required_car_parking_space: Series[int] = pa.Field(nullable=False)
    room_type_reserved: Series[int] = pa.Field(nullable=False)
    lead_time: Series[int] = pa.Field(nullable=False)
    arrival_year: Series[int] = pa.Field(nullable=False)
    arrival_date: Series[int] = pa.Field(nullable=False)
    market_segment_type: Series[int] = pa.Field(nullable=False)
    repeated_guest: Series[int] = pa.Field(nullable=False)
    no_of_previous_cancellations: Series[int] = pa.Field(nullable=False)
    no_of_previous_bookings_not_canceled: Series[int] = pa.Field(nullable=False)
    avg_price_per_room: Series[float] = pa.Field(nullable=False)
    no_of_special_requests: Series[int] = pa.Field(nullable=False)
    booking_status: Series[int] = pa.Field(nullable=False)

    @pa.check("no_of_adults")
    def check_lte_4(cls,col):
        return col<=4
    
    @pa.check('type_of_meal_plan')
    def check_lte_3(cls, col):
        return col<=3
    @pa.check('required_car_parking_space')
    def check_lte_1(cls,col):
        return col<=1
    @pa.check('booking_status')
    def check_lte_1_bs(cls,col):
        return col<=1

class SchemaTest(SchemaTrain):
    @classmethod
    def to_schema(cls) -> pa.DataFrameSchema:
        return super().to_schema().remove_columns(["booking_status"])